/* UNIVERSAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --background: rgb(23, 4, 9);
    --aqua: #81C0B5;
    --color: #F7EBC3;
    --hover: #F9FC9D;
    --font: 'Spartan', sans-serif;
    --text: Georgia, 'Times New Roman', serif;
}

body {
    background-color: var(--aqua);
}


/* NAVIGATION STYLES */

header {
    background: var(--background);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
}

.page-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
    font-size: 1.25rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    padding-bottom: 2rem;
    height: 25%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--hover);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 450ms ease-in;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

nav a {
    color: var(--color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

nav a:hover {
    color: var(--hover);
}

nav a:focus {
    outline: .1rem solid var(--color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in 250ms;
}

@media screen and (min-width: 1095px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .flex-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .site-title {
        padding-bottom: 2rem;
    }
    .page-title {
        font-size: 165%;
        text-align: right;
        padding-right: 1rem;
        padding-left: 0;
    }
    nav {
        all: unset;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3.5px;
        background: var(--hover);
        position: absolute;
        bottom: -.50rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
    .blue-img {
        outline: solid .15rem var(--background);
        outline-offset: 1.5rem;
        width: 75%;
    }
    hr {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
    .color-wrap,
    .color-wrap-one,
    .color-wrap-two,
    .color-wrap-three {
        margin-right: 2%;
        margin-left: 2%;
        display: block;
    }
}

@media (max-width: 695px) {
    .site-title {
        max-width: 75%;
    }
}


/* IMG STYLES */

.blue-img-container {
    display: flex;
}

.blue-img {
    margin-top: 12rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto;
    width: 60%;
    min-width: 350px;
}


/* MAIN CONTENT SECTIONS STYLES */

.main-content {
    margin-bottom: 2rem;
    width: 100%;
}

.main-divide {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.special {
    width: 90%;
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    font-family: var(--font);
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    color: var(--background);
    font-weight: bold;
}

.link:hover {
    border-bottom: solid .1rem var(--background);
}

.heading {
    color: var(--background);
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.text-toggle-label {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1rem;
    padding-right: .55rem;
    padding-left: .55rem;
}

.color-wrap {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-section {
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: .5rem;
    margin-top: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 1rem;
    font-family: var(--text);
    display: block;
}

.text-toggle:checked~.text-section {
    display: block;
}

.text-toggle {
    display: none;
}

.heading-one {
    color: var(--background);
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.text-toggle-label-one {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1rem;
    padding-right: .55rem;
    padding-left: .55rem;
}

.color-wrap-one {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-section-one {
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 1rem;
    font-family: var(--text);
    display: block;
}

.text-toggle-one:checked~.text-section-one {
    display: block;
}

.text-toggle-one {
    display: none;
}

.heading-two {
    color: var(--background);
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.text-toggle-label-two {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1rem;
    padding-right: .55rem;
    padding-left: .55rem;
}

.color-wrap-two {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-section-two {
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 1rem;
    font-family: var(--text);
    display: block;
}

.text-toggle-two:checked~.text-section-two {
    display: block;
}

.text-toggle-two {
    display: none;
}

.heading-three {
    color: var(--background);
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.text-toggle-label-three {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1rem;
    padding-right: .55rem;
    padding-left: .55rem;
}

label.text-toggle-label-three {
    text-align: center;
}

.color-wrap-three {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section-three {
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2%;
    width: 90%;
    font-size: 1rem;
    font-family: var(--text);
    text-align: center;
    display: block;
    outline: solid .1rem var(--background);
    outline-offset: .5rem;
}

.text-edit {
    margin-bottom: 1rem;
}

.text-edit-b {
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: bold;
}

.text-toggle-three:checked~.text-section-three {
    display: block;
}

.text-toggle-three {
    display: none;
}

@media screen and (max-width: 1094px) {
    .text-section,
    .text-section-one,
    .text-section-two,
    .text-section-three {
        display: none;
        outline: none;
    }
    .heading,
    .heading-one,
    .heading-two,
    .heading-three {
        font-weight: normal;
        border: none;
    }
    .heading:hover,
    .heading-one:hover,
    .heading-two:hover,
    .heading-three:hover {
        color: var(--hover);
        cursor: pointer;
    }
    .blue-img {
        margin-top: 15rem;
        margin-bottom: 3rem;
    }
    .page-title {
        max-width: 75%;
    }
    .link {
        text-decoration: underline;
        color: var(--background);
        font-weight: normal;
    }
    .link:hover {
        border-bottom: none;
    }
    .text-section-three {
        font-size: .85rem;
        text-align: left;
    }
}

@media screen and (min-width: 720px) {
    .blue-img {
        width: 75%;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 320px) {
    .blue-img-container {
        overflow: hidden;
    }
}


/* Colors used throughout site:
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
transparent blue sage: rgba(129, 192, 181, .6)
sage: #B4D2BA
cream: #F7EBC3
highlighted link: #F9FC9D
transparent white: rgba(255, 255, 255, .5); */