* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SITE TITLES STYLES */

.titles {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px;
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    background-color: #280607;
}

.site-title {
    font-size: xx-large;
    text-transform: uppercase;
}


/* SUB-HEADING STYLES */

.sub-heading {
    font-family: 'Spartan', sans-serif;
    color: #280607;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}


/* PAGE NAVIGATION STYLES */

.sub-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #280607;
    padding: 10px;
}

.page-link {
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #F7EBC3;
}

.page-link:hover {
    color: #F9FC9D;
}

.to-top {
    font-family: 'Spartan', sans-serif;
    color: #280607;
    font-weight: bolder;
    width: fit-content;
    padding-top: 30px;
    padding-right: 30px;
    text-decoration: none;
    align-self: flex-end;
}

.to-top:hover {
    color: #F9FC9D;
}


/* MAIN CONTENT */

.main-section {
    height: fit-content;
    padding-bottom: 100px;
}

.text-box {
    width: 90%;
    margin: auto;
    display: block;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .5);
}

.content-section {
    display: flex;
    flex-direction: column;
}


/* LARGE IMAGE STYLES */

.img-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#image {
    width: 40%;
}


/* BACKGROUND STYLES */

#background-image {
    background-image: url("sidePageBackground.png");
    background-size: cover;
    background-color: rgba(129, 192, 181, .6);
}


/* FOOT NAVIGATION STYLES */

.foot-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #280607;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot-link {
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: #F7EBC3;
    padding: 10px;
}

.foot-link:hover {
    color: #F9FC9D;
}


/* Colors used throughout site:
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
transparent blue sage: rgba(129, 192, 181, .6)
sage: #B4D2BA
cream: #F7EBC3
highlighted link: #F9FC9D
transparent white: rgba(255, 255, 255, .5); */