/* UNIVERSAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --background: rgb(23, 4, 9);
    --aqua: #81C0B5;
    --lightaqua: rgba(255, 255, 255, .5);
    --superlightaqua: rgba(255, 255, 255, 0.425);
    --color: #F7EBC3;
    --hover: #F9FC9D;
    --font: 'Spartan', sans-serif;
    --text: Georgia, 'Times New Roman', serif;
}

body {
    background-color: var(--aqua);
}


/* NAVIGATION STYLES */

header {
    background: var(--background);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
}

.page-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
    font-size: 1.25rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    padding-bottom: 2rem;
    height: 25%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--hover);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 450ms ease-in;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

nav a {
    color: var(--color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

nav a:hover {
    color: var(--hover);
}

nav a:focus {
    outline: .1rem solid var(--color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in 250ms;
}

@media screen and (min-width: 1095px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .flex-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .site-title {
        padding-bottom: 2rem;
    }
    .page-title {
        font-size: 165%;
        text-align: right;
        padding-right: 1rem;
        padding-left: 0;
    }
    nav {
        all: unset;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3.5px;
        background: var(--hover);
        position: absolute;
        bottom: -.50rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
    .image-box,
    .image-box-alt {
        outline: solid .1rem var(--background);
        outline-offset: 1rem;
    }
    .gallery-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
    .img-width {
        object-fit: contain;
        object-position: center center;
        width: 100%;
    }
    .grayscale {
        filter: grayscale(80%);
    }
    .image-box {
        margin: 2rem;
        height: 30%;
        width: 40%;
        min-width: 300px;
        overflow: hidden;
        color: white;
        position: relative;
    }
    .caption {
        position: absolute;
        bottom: .5rem;
        left: 1rem;
        padding-right: 2rem;
        font-family: var(--text);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .transparent-box {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
    }
    .image-box:hover .transparent-box {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .image-box:hover .caption {
        transform: translateY(-20px);
        opacity: 1.0;
    }
    .caption>p:nth-child(2) {
        font-size: 1rem;
    }
    .img-width-alt {
        object-fit: contain;
        object-position: center center;
        height: 100%;
        width: 100%;
    }
    .image-box-alt {
        margin: 2rem;
        height: 40%;
        width: 25%;
        min-width: 300px;
        overflow: hidden;
        color: white;
        position: relative;
    }
    .caption-alt {
        position: absolute;
        bottom: .5rem;
        left: 1rem;
        padding-right: 2rem;
        font-family: var(--text);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .transparent-box-alt {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
    }
    .image-box-alt:hover .transparent-box-alt {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .image-box-alt:hover .caption-alt {
        transform: translateY(-20px);
        opacity: 1.0;
    }
    .caption-alt>p:nth-child(2) {
        font-size: 1rem;
    }
    .caption-mobile,
    .caption-alt-mobile {
        display: none;
    }
}

@media (max-width: 695px) {
    .site-title {
        max-width: 75%;
    }
}


/* MAIN CONTENT */

.text-box {
    margin-right: 2%;
    margin-bottom: 2rem;
    margin-left: 2%;
    padding: 12rem 2rem 2rem 2rem;
    text-align: left;
    font-size: 1rem;
    font-family: var(--text);
    background-color: var(--lightaqua);
}


/* GALLERY
CSS and HTML inspired by gallery created here:
https://codepen.io/heyDante/pen/bxEYOw */

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.img-width {
    object-fit: contain;
    object-position: center center;
    width: 100%;
}

.grayscale {
    filter: grayscale(80%);
}

.image-box {
    margin: 2rem;
    height: 30%;
    width: 40%;
    min-width: 300px;
    overflow: hidden;
    color: white;
    position: relative;
}

.caption {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    padding-right: 2rem;
    font-family: var(--text);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-width-alt {
    object-fit: contain;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.image-box-alt {
    margin: 2rem;
    height: 40%;
    width: 25%;
    min-width: 300px;
    overflow: hidden;
    color: white;
    position: relative;
}

.caption-alt {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    padding-right: 2rem;
    font-family: var(--text);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.caption-mobile {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
    font-family: var(--font);
    text-align: left;
    color: var(--background);
    border-bottom: solid .1rem var(--background);
}

.caption-alt-mobile {
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
    font-family: var(--font);
    text-align: left;
    color: var(--background);
    border-bottom: solid .1rem var(--background);
}