/* UNIVERSAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 18px;
}

 :root {
    --background: rgb(23, 4, 9);
    --aqua: #81C0B5;
    --lightaqua: rgba(255, 255, 255, .5);
    --superlightaqua: rgba(255, 255, 255, 0.425);
    --color: #F7EBC3;
    --hover: #F9FC9D;
    --font: 'Spartan', sans-serif;
    --text: Georgia, 'Times New Roman', serif;
}

body {
    background-color: var(--aqua);
}


/* NAVIGATION STYLES */

header {
    background: var(--background);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
}

.page-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
    font-size: 1.25rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    padding-bottom: 2rem;
    height: 25%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--hover);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 450ms ease-in;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

nav a {
    color: var(--color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

nav a:hover {
    color: var(--hover);
}

nav a:focus {
    outline: .1rem solid var(--color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in 250ms;
}

@media screen and (min-width: 1095px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .flex-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .site-title {
        padding-bottom: 2rem;
    }
    .page-title {
        font-size: 165%;
        text-align: right;
        padding-right: 1rem;
        padding-left: 0;
    }
    nav {
        all: unset;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3.5px;
        background: var(--hover);
        position: absolute;
        bottom: -.50rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

@media screen and (max-width: 695px) {
    .site-title {
        max-width: 75%;
    }
}


/* PAGE NAVIGATION */

.a-f-box {
    padding-top: 12rem;
    margin-right: 2%;
    margin-bottom: 3rem;
    margin-left: 2%;
    background-color: var(--lightaqua);
}

.wrap-box {
    padding-top: 4rem;
    margin-right: 2%;
    margin-bottom: 3rem;
    margin-left: 2%;
    background-color: var(--lightaqua);
}

.wrap {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.a-f,
.sub-title {
    margin-bottom: 2rem;
    font-family: var(--font);
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
    width: 90%;
}


/* MAIN CONTENT */

.check-back {
    font-family: var(--font);
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}


/* TABLE STYLES */

.table {
    width: 90%;
    object-fit: center;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px var(--background);
}

.heading {
    padding: .5rem;
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    font-size: 1.15rem;
}

.item {
    background-color: rgba(236, 236, 236, 0.747);
    font-family: var(--text);
}

.cell {
    border: solid 2px #280607;
    text-align: left;
    padding: .75rem;
}

.title {
    font-weight: bold;
}

.center {
    text-align: center;
}

.controls {
    height: 25px;
    width: 250px;
}

.h-title {
    font-style: italic;
    font-size: .95rem;
    display: none;
}

@media screen and (max-width: 1094px) {
    .hidden {
        display: none;
    }
    .a-f-box {
        padding-top: 15.5rem;
    }
    .check-back {
        text-align: left;
    }
    .button {
        outline-offset: .25rem;
        font-size: .75rem;
    }
}

@media screen and (max-width: 645px) {
    .hidden-two {
        display: none;
    }
    .cell {
        text-align: center;
    }
    .h-title {
        display: block;
    }
}


/* FORM STYLES */


/*.bg-color {
    background-color: var(--superlightaqua);
    width: 90%;
    height: 20rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-family: var(--text);
}

.form {
    display: flex;
    flex-direction: column;
}*/

.bg-color {
    display: none;
}

#email,
#name {
    width: 75%;
    padding: .25rem;
    font-style: italic;
    margin-top: 1rem;
    margin-left: .5rem;
}

.b-box {
    margin-top: 1rem;
    width: 70%;
}

.button {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: var(--background);
    color: var(--hover);
    font-family: var(--font);
    border: none;
    outline: solid .1rem var(--background);
    outline-offset: 1rem;
}

.button:hover {
    color: var(--hover);
    cursor: pointer;
}

#submit {
    width: 5rem;
    padding: .25rem;
}

.list {
    list-style: none;
    text-decoration: underline;
}


/* Program Notes Section */

.photos {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.cass {
    width: 300px;
    height: 200px;
    padding: 1rem;
}

.bridge {
    width: 400px;
    padding: 1rem;
}

.special {
    margin-top: 3rem;
    font-family: var(--font);
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    margin-right: 2%;
    margin-bottom: 2rem;
    margin-left: 2%;
}

.text-toggle-label {
    margin-right: 2%;
    padding-top: 4rem;
    padding-right: .55rem;
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.color-wrap {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-section {
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: .5rem;
    margin-top: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    text-align: justify;
    font-size: 1rem;
    font-family: var(--text);
    display: block;
    width: 90%;
}

.text-toggle:checked~.text-section {
    display: block;
}

.text-toggle {
    display: none;
}

.text-toggle-label-one {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 2rem;
    padding-right: .55rem;
    font-family: var(--font);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid .1rem var(--background);
}

.color-wrap-one {
    background-color: rgba(255, 255, 255, 0.425);
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-section-one {
    background-color: rgba(255, 255, 255, .5);
    padding: 2rem;
    margin-top: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    text-align: justify;
    font-size: 1rem;
    font-family: var(--text);
    display: block;
    width: 90%;
}

.text-toggle-one:checked~.text-section-one {
    display: block;
}

.text-toggle-one {
    display: none;
}

@media screen and (max-width: 1094px) {
    .text-section,
    .text-section-one {
        display: none;
        outline: none;
        text-align: left;
    }
    .hg,
    .hg-one {
        font-weight: normal;
    }
    .hg:hover,
    .hg-one:hover {
        color: var(--hover);
        cursor: pointer;
    }
    .page-title {
        max-width: 75%;
    }
    .text-toggle-label,
    .text-toggle-label-one {
        font-size: 1.25rem;
        text-align: center;
        border-bottom: none;
    }
}