* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Site Heading Styles */

.website-heading {
    font-family: 'Spartan', sans-serif;
    color: #F7EBC3;
    font-size: xx-large;
    background-color: #280607;
    padding: 10px;
    position: sticky;
}

.page-heading {
    font-family: 'Spartan', sans-serif;
    color: #280607;
    font-weight: bolder;
    background-color: rgba(11, 101, 112, 0.5);
    height: 75px;
    padding-top: 20px;
    padding-left: 10px;
}


/* Large Image Styles */

.image-container {
    background-color: #280607;
}

.image-styling {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    object-fit: cover;
}


/* Main Content Styling and Structure */

.flex-parent {
    display: flex;
    flex-direction: column;
}

.flex-text {
    padding: 10px;
}


/* TABLE STYLES */

.entire-table {
    width: 90%;
    object-fit: center;
    margin: 30px auto 10px auto;
    border: solid 2px #280607;
}

.header {
    background-color: #280607;
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

.item {
    background-color: #81C0B5;
}

.cell {
    border: solid 2px #280607;
    text-align: center;
    padding: 5px;
}

.controls-styling {
    height: 25px;
    width: 250px;
}


/* Background Styles */

.background-image-formatting {
    position: relative;
    height: 75vh;
    width: 100%;
}

.background-image-formatting::before {
    content: "";
    background-image: url("oceanBackground.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

body {
    background-color: #81C0B5;
}


/* Footer Navigation Styles */

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #280607;
    padding: 10px;
}

.list-item {
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: #F7EBC3;
    padding: 10px;
}

.list-item:hover {
    color: #F9FC9D;
}


/* Colors used throughout site:
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
sage: #B4D2BA
cream: #F7EBC3
highlighted link: #F9FC9D */