* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Background Image Styles */

.background-styling {
    background-image: url("theBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-bottom: solid 2px #280607;
    position: relative;
}


/* Title Styles */

.page-heading {
    font-family: 'Spartan', sans-serif;
    color: #F7EBC3;
    background-color: #280607;
    padding: 10px;
}


/* Navigation Styles */

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #280607;
    margin-top: 10px;
    padding: 10px;
}

.list-item {
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: #F7EBC3;
    padding: 10px;
}


/* Testimonials Section Styles */

.section-parent-box {
    background-color: rgba(129, 192, 181, 0.8);
    position: absolute;
    bottom: 10px;
    max-height: 25%;
    overflow: hidden;
}

.section-heading {
    font-family: 'Spartan', sans-serif;
    background-color: rgba(129, 192, 181, 0.9);
    color: #280607;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.section-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #280607;
    font-style: italic;
}

.testimonial-provider {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: #280607;
}


/* Photograph on second half of page */

.main-styling {
    background-color: #280607;
}

.rome-image {
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}


/* Footer background styling */

body {
    background-color: #81C0B5;
}


/* Colors
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
sage: #B4D2BA
cream: #F7EBC3 */