* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


/* --- UNIVERSAL TEXT AND COLOR STYLES --- */

.light-text {
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    background-color: #280607;
}

.dark-text {
    color: #280607;
    font-family: 'Times New Roman', Times, serif;
    background-color: #81C0B5;
    font-size: 1.25rem;
}


/* REMEMBER TO CHANGE BACKGORUND COLOR BACK ONCE
PICTURES ARE RESPONDING CORRECTLY */

main {
    background-color: lightpink;
}


/* --- HEADER AND NAVIGATION STYLES --- */


/* INVESTIGATE WHY NAV-BAR IS NOT ADJUSTING
THE WAY I WANT, YET FOOT-NAV IS FINE ON BOTH HOME
PAGE AND CONTACT PAGE.*/

.header {
    padding: 1rem;
}

.site-title {
    font-size: 3rem;
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.foot-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    font-size: 1rem;
    padding: 1.5rem;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    margin: 1.5rem;
}

.nav-link:hover {
    color: #F9FC9D;
}

@media (max-width: 1200px) {
    .foot-nav {
        justify-content: left;
    }
}

@media (max-width: 1400px) {
    .nav-bar {
        justify-content: left;
    }
}


/* --- MAIN CONTENT --- */


/* IMAGES STYLES */

.bg-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}


/* NOTES FOR NEXT TIME: TRY PUTTING IN THE IMGs AS
ACTUAL IMGs, INSTEAD OF BACKGROUNDS.
MIN-WIDTH NOT WORKING - OVERFLOW: HIDDEN NOT WORKING*/

#ocean {
    background-image: url("oceanBackground.jpg");
    height: 60vh;
    min-width: 462px;
}

#rome {
    background-image: url("Rome.jpg");
    filter: grayscale(100%);
    border-top: .5rem solid #280607;
}

.wrap {
    height: 80vh;
}


/* AUDIO STYLES */

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.audio-controls {
    width: 20%;
    min-width: 167px;
    outline: .2rem solid #280607;
    outline-offset: 1rem;
}


/* TESTIMONIAL HEADING AND BOX STYLES */

.testimonial-heading {
    padding: 1rem;
    color: #F9FC9D;
}

#testimonials-box {
    padding: 2rem 5rem 2rem 5rem;
    height: 20vh;
    text-align: center;
    overflow: hidden;
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: ease;
}

@media (max-width: 400px) {
    #testimonials-box:hover {
        height: 325vh;
    }
}

@media (min-width: 500px) {
    #testimonials-box:hover {
        height: 235vh;
    }
}

@media (min-width: 700px) {
    #testimonials-box:hover {
        height: 155vh;
    }
}

@media (min-width: 1000px) {
    #testimonials-box:hover {
        height: 125vh;
    }
}

@media (min-width: 1100px) {
    #testimonials-box:hover {
        height: 105vh;
    }
}

@media (min-width: 1400px) {
    #testimonials-box:hover {
        height: 90vh;
    }
}

@media (min-width: 1550px) {
    #testimonials-box:hover {
        height: 55vh;
    }
}