* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


/* BACKGROUND STYLES */

#background-image {
    background-image: url("sidePageBackground.png");
    background-size: cover;
    background-color: rgba(129, 192, 181, .6);
}


/* SITE TITLES STYLES */

.titles {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px;
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    background-color: #280607;
}

.site-title {
    font-size: xx-large;
    text-transform: uppercase;
}


/* MAIN CONTENT */

.main-section {
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 100px;
}

.text-box {
    width: 90%;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    display: block;
    padding: 40px 20px 40px 20px;
    background-color: rgba(255, 255, 255, .5);
}

.contact-section {
    height: 85vh;
    text-align: center;
}

.gallery-section {
    background-color: #81C0B5;
    height: 100vh;
}

.resources-section {
    text-align: center;
}


/* FOOT NAVIGATION STYLES */

.foot-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #280607;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot-link {
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: #F7EBC3;
    padding: 10px;
}

.foot-link:hover {
    color: #F9FC9D;
}


/* Colors used throughout site:
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
transparent blue sage: rgba(129, 192, 181, .6)
sage: #B4D2BA
cream: #F7EBC3
highlighted link: #F9FC9D
transparent white: rgba(255, 255, 255, .5); */