* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


/* --- UNIVERSAL TEXT AND COLOR STYLES --- */

.light-text {
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    background-color: #280607;
}

.main {
    background-color: #81C0B5;
}


/* SITE TITLES STYLES */

.header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 1rem;
}

.site-title {
    font-size: 2.5rem;
}

.page-title {
    font-size: 2rem;
}

@media (max-width: 950px) {
    .header {
        flex-direction: column;
    }
}

.sub-heading {
    color: #280607;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    width: fit-content;
    display: block;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: .5rem;
    border-bottom: solid .1rem #280607;
    text-decoration: none;
}


/* PAGE NAVIGATION */

.sub-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.page-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.page-link:hover {
    color: #F9FC9D;
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top {
    color: #280607;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: .5rem;
    margin-right: 8rem;
    margin-bottom: 1.5rem;
    border-bottom: solid .1rem #280607;
    text-decoration: none;
}

.top:hover {
    color: #F9FC9D;
}


/* MAIN CONTENT */

.text-box {
    margin-right: 6rem;
    margin-left: 6rem;
    padding: 3rem 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.career-text-box {
    margin-right: 6rem;
    margin-left: 6rem;
    padding: 3rem 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255, .5);
    text-align: left;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.alt {
    background-color: rgba(255, 255, 255, 0.425);
}

.img-box {
    background-color: rgba(255, 255, 255, .5);
    margin-right: 6rem;
    margin-left: 6rem;
}

.img {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 6rem;
    filter: grayscale(25%);
}

#blue-img {
    filter: grayscale(none);
    width: 45%;
    min-width: 400px;
    overflow: -moz-hidden-unscrollable;
    padding-top: 5rem;
}

.bottom-margin {
    margin-bottom: 8rem;
}

@media (max-width: 400px) {
    .bottom-margin {
        margin-bottom: 10rem;
    }
}


/* FOOT NAVIGATION STYLES */

.foot-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
}

.foot-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 1.5rem;
}

.foot-link:hover {
    color: #F9FC9D;
}

@media (max-width: 1200px) {
    .foot-nav {
        justify-content: left;
    }
}


/* Colors used throughout site:
dark blue green: #0B6570
black/dark navy: #280607
blue sage: #81C0B5
transparent blue sage: rgba(129, 192, 181, .6)
sage: #B4D2BA
cream: #F7EBC3
highlighted link: #F9FC9D
transparent white: rgba(255, 255, 255, .5); */


/* -- SPECIFIC SIDE PAGE ELEMENT STYLES;
MUSIC LIBRARY TABLE AND GALLERY -- */


/* TABLE STYLES */

.table {
    width: 90%;
    object-fit: center;
    margin: 30px auto 10px auto;
    border: solid 2px #280607;
    z-index: 2;
}

.heading {
    background-color: #280607;
    color: #F7EBC3;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

.item {
    background-color: rgba(255, 255, 255, .5);
}

.cell {
    border: solid 2px #280607;
    text-align: center;
    padding: 5px;
}

.controls {
    height: 25px;
    width: 250px;
}


/* GALLERY
CSS and HTML inspired by gallery created here:
https://codepen.io/heyDante/pen/bxEYOw */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-image img {
    height: 25rem;
    width: 35rem;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

#img-one {
    width: 35rem;
}

.image-box {
    box-sizing: content-box;
    margin: 2rem;
    height: 25rem;
    width: 35rem;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    outline: solid .1rem #280607;
    outline-offset: .5rem;
}

.caption {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 25rem;
    width: 35rem;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.image-box:hover img {
    transform: scale(1.1);
}

.image-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.caption>p:nth-child(2) {
    font-size: 1rem;
}