/* UNIVERSAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --background: rgb(23, 4, 9);
    --color: #F7EBC3;
    --hover: #F9FC9D;
    --font: 'Spartan', sans-serif;
}


/* NAVIGATION STYLES */

header {
    background: var(--background);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    color: var(--color);
    font-family: var(--font);
    text-align: left;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    padding-bottom: 1rem;
    height: 50%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--hover);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 450ms ease-in;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

nav a {
    color: var(--color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

nav a:hover {
    color: var(--hover);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in 250ms;
}

@media screen and (min-width: 1095px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .site-title {
        padding-bottom: 2rem;
    }
    nav {
        all: unset;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a:hover::before {
        content: '';
        display: block;
        height: 3.5px;
        background: var(--hover);
        position: absolute;
        bottom: -.50rem;
        left: 0;
        right: 0;
    }
}

@media (max-width: 695px) {
    .site-title {
        max-width: 75%;
    }
}